<div class="container w-50 p-5">
  <div class="card">
    <article class="card-body">
      <a href="" class="float-right btn btn-outline-primary">Sign up</a>
      <h4 class="card-title mb-4 mt-1">Sign in</h4>

      <!-- Formulario -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Form Group Email -->
        <div class="form-group">
          <label>Your email</label>
          <input name="username" class="form-control" placeholder="Email" type="email" formControlName="username">
        </div>
        <p class="bg-danger" *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">Username
          is required</p>
        <!-- Form Group Contraseña -->
        <div class="form-group">
          <a class="float-right" href="#">Forgot?</a>
          <label>Your password</label>
          <input class="form-control" placeholder="******" type="password" name="password" formControlName="password">
        </div>
        <p class="bg-danger" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">Password
          is required</p>
        <!-- form-group// -->
        <div class="form-group">
          <div class="checkbox">
            <label> <input type="checkbox"> Save password </label>
          </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid"> Login </button>
        </div> <!-- form-group// -->
      </form>
    </article>
  </div> <!-- card.// -->
</div>
